<section>
	<div class="container pdnt100">
		Floorplan Page<br/></br>
		<%= link_to ' Go To Testimonial', testimonial_path %>
	</div>
	<div class="container">
		<div class="accordion-floor-plan">
			<div class="floor-plan-accordian-wrapper">
				<button class="floor-accordian">Section 1</button>	
					<div class="floor_panel">
						<p>Yes, we are the official exclusive FC Barcelona Clinic partners in India. This opportunity is provided by Conscient Football who is the Official Partner of FC Barcelona football schools, FC Barcelona Camps and FC Barcelona clinics in India.</p>
					</div>
			</div>
			<div class="floor-plan-accordian-wrapper">
				<button class="floor-accordian">Section 2</button>	
					<div class="floor_panel">
						<p>The Clinic in October, 2017 will be our 4th since last year. The schedule & frequency depend upon the availability of the activities.</p>
					</div>
			</div>
			<div class="floor-plan-accordian-wrapper">
				<button class="floor-accordian">Section 3</button>	
					<div class="floor_panel">
						<p>No. But in case you want to, we have special packages. Please get in touch for more details</p>
					</div>
			</div><div class="floor-plan-accordian-wrapper">
				<button class="floor-accordian">Section 4</button>	
					<div class="floor_panel">
						<p>Lorem Ipsum222</p>
					</div>
			</div>
		</div>
	</div>
</section>