<section>
	<div class="container pdnt100">
		Floorplan Page<br/></br>
		<%= link_to ' Go To Testimonial', testimonial_path %>
	</div>
	<div class="container">
		<div class="floor-plan-accordian-wrapper">
			<button class="floor-accordian">Section 1</button>	
				<div class="floor_panel">
					<p>Lorem Ipsum</p>
				</div>
		</div>
		<div class="floor-plan-accordian-wrapper">
			<button class="floor-accordian">Section 2</button>	
				<div class="floor_panel">
					<p>Lorem Ipsum222</p>
				</div>
		</div>
		<div class="floor-plan-accordian-wrapper">
			<button class="floor-accordian">Section 3</button>	
				<div class="floor_panel">
					<p>Lorem Ipsum222</p>
				</div>
		</div><div class="floor-plan-accordian-wrapper">
			<button class="floor-accordian">Section 4</button>	
				<div class="floor_panel">
					<p>Lorem Ipsum222</p>
				</div>
		</div>
	</div>
</section>