<section>
	<div class="container pdnt100">Testimonail Page<br/><br/><%= link_to 'Go To Home page', root_path %></div>
	<div class="container">
		<div class="col-12">
			<%#= @user.each do |user| %>
			<div class="col-4">
				<%# @articles.each do |article| %>
					<%#= article.title %>
				<%# end %>
			</div>
			<%# end %>
		</div>
	</div>
</section>
